<%@title = "#{current_user.user_type} Projects"%>
<%= render :partial => 'welcome/shared/topnavbar'%>

<% if @users.any? %>
  <div class = 'mx-3'>
  <table class="table table-borderless">
    <thead class = 'border-bottom'>
        <tr>
          <th scope="col">Project Id</th>
          <th scope="col">Project Name</th>
        </tr>
      </thead>
    <%@users.each_with_index do |user, index|%>
      <tbody class = 'border-bottom'>
        <tr>
          <td><%= user.id%></td>
          <td><%= user.projectname%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  </div>
<%else%>
    <%= render :partial => 'welcome/shared/error_messages'%>
<% end %>
<%= link_to 'Go Back',{controller: 'welcome', action: :user_main_page}, class: 'btn btn-dark mx-3 btn-lg btn-block mt-3'%>

