<%= render :partial => 'welcome/shared/topnavbar'%>
<%= render :partial => 'welcome/shared/flash_message'%>

<div class = 'mt-5 mx-5'>
  <div class = 'mb-5'>
  <span class = 'font-heading ms-4 h2'>Project Name: </span>  <span class = 'font-heading h2 mx-3'><%= @project.projectname%></span>
   </div>

    <%if @bugs.nil? %>
        <div class = 'col-5 border px-0'>
        <div class = 'text-center background_gray px-0'>
          <span class = 'font-heading'>Bugs</span>
        </div>
        <p>Congrats you have no bugs to resolve :)</p>
      <%else%>
        <table class="table border table-dark">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" colspan="4">Bug title</th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
          <% @bugs.each_with_index do |bug,index|%>

            <tbody>
              <tr>
                <th scope="row"><%= index + 1%></th>
                <td colspan="4"><%= bug.title%></td>
                <td></td>
                <td class = 'd-flex justify-content-end'>
                <%= link_to 'Assign bug to himself',assign_bug_to_developer_path(bug_id: bug.id, :project_id => @project.id),class: 'btn btn-primary '%>
                <%= link_to 'View Detatils',project_bug_url(:bug_id => bug.id, project_id: @project.id),class: 'btn btn-light mx-3'%>
                </td>
              </tr>
            </tbody>
          <% end %>

        </table>
      <%end%>
  </div>

  <div class = 'mt-5 d-flex justify-content-center'>
    <%= link_to "Go Back",{:controller => 'welcome', :action => 'user_main_page'} , :class => 'btn btn-dark add-resourse-button-width'%>
  </div>

</div>

