<%= render :partial => 'welcome/shared/topnavbar'%>
<%= render :partial => 'welcome/shared/flash_message'%>

<% if @users.any? %>
  <h2 class = 'mx-2'>List of Projects</h2>
  <div style='background:lightgray;' class = 'row mt-2 pt-2 mx-2 '>
  <%@users.each_with_index do |user, index|%>
    <%@project = Project.all.where(projectname: "#{ user.projectname }")%>
    <div class = 'row pb-2' id = 'manager_project_list'>
      <div class = 'col-1'>
        <span class = 'font-size'><%= index + 1 %></span>
      </div>
      <div class='col-4'>
        <span class='font-heading'><%= user.projectname%></span>
      </div>
      <div class = 'col-7'>
        <div class = 'd-flex justify-content-end'>
          <%= link_to 'View Full', project_url(@project.ids), class: 'btn btn-dark mx-2 px-3'%>
          <%= link_to 'Edit', edit_project_url(user), class: 'btn btn-dark mx-2 px-3'%>
          <%= link_to 'Delete', "/projects/#{user.id}", class: 'btn btn-danger px-3 mx-2',
              method: :delete,
              data: {confirm: 'Are you sure?'}%>
          <%= link_to 'Add resource',add_users_to_project_path(@project.ids),class: 'btn btn-primary '%>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<%else%>
  <%= render :partial => 'welcome/shared/error_messages'%>
<% end %>
